---
import Layout from '../layouts/Layout.astro';
import SocialMedia from '../components/SocialMedia.astro';
import lang from '../constants/lang';
import Projects from '../components/Projects.astro';
---

<Layout title={lang.title}>
  <main
    class='h-screen w-full overflow-hidden bg-pattern shadow-[20px_20px_200px_129px_rgba(9,9,9,0.80)_inset] gap-4 flex justify-center items-center flex-col'
  >
    <section class='relative w-fit h-fit text-center' id='home'>
      <h1 class='relative z-10 text-[15vw] md:text-9xl font-bold uppercase'>
        {lang.titleShort}
      </h1>
      <h2
        class='relative z-10 w-fit text-[8vw] md:text-5xl py-2 font-bold bg-clip-text text-transparent bg-gradient-to-r from-primary to-primary-light typewriter'
      >
        {lang.subtitle}
      </h2>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='630'
        height='657'
        viewBox='0 0 630 657'
        fill='none'
        class='absolute -bottom-80 -left-96 z-0 w-full'
      >
        <g filter='url(#filter0_f_22_5)'>
          <path
            fill-rule='evenodd'
            clip-rule='evenodd'
            d='M309.362 190.262C331.545 192.714 344.954 218.688 364.084 231.913C384.09 245.744 410.85 247.682 424.29 269.713C438.422 292.879 443.828 324.428 437.169 351.718C430.713 378.182 408.518 394.175 389.793 411.106C374.103 425.293 356.045 433.065 337.601 441.748C316.941 451.474 296.741 471.793 275.212 465.048C253.688 458.304 245.929 428.205 231.519 408.511C217.31 389.091 195.723 375.009 191.127 350.125C186.458 324.841 197.174 299.569 207.124 276.42C216.814 253.879 229.896 233.844 247.482 219.024C265.823 203.568 286.777 187.765 309.362 190.262Z'
            fill='#6B2B48'></path>
        </g>
        <defs>
          <filter
            id='filter0_f_22_5'
            x='0'
            y='0'
            width='630'
            height='656.393'
            filterUnits='userSpaceOnUse'
            color-interpolation-filters='sRGB'
          >
            <feFlood flood-opacity='0' result='BackgroundImageFix'></feFlood>
            <feBlend
              mode='normal'
              in='SourceGraphic'
              in2='BackgroundImageFix'
              result='shape'></feBlend>
            <feGaussianBlur
              stdDeviation='95'
              result='effect1_foregroundBlur_22_5'></feGaussianBlur>
          </filter>
        </defs>
      </svg>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='460'
        height='460'
        viewBox='0 0 460 460'
        fill='none'
        class='absolute -top-52 -right-96 z-0 w-full'
      >
        <g filter='url(#filter0_f_21_2)'>
          <circle cx='230' cy='230' r='50' fill='#1E90FF'></circle>
        </g>
        <defs>
          <filter
            id='filter0_f_21_2'
            x='0'
            y='0'
            width='460'
            height='460'
            filterUnits='userSpaceOnUse'
            color-interpolation-filters='sRGB'
          >
            <feFlood flood-opacity='0' result='BackgroundImageFix'></feFlood>
            <feBlend
              mode='normal'
              in='SourceGraphic'
              in2='BackgroundImageFix'
              result='shape'></feBlend>
            <feGaussianBlur
              stdDeviation='90'
              result='effect1_foregroundBlur_21_2'></feGaussianBlur>
          </filter>
        </defs>
      </svg>
    </section>
    <SocialMedia class='mt-2 relative z-10' social={lang.socialMedia} />
    <a href={lang.home.viewMoreUrl} class='uppercase text-xl absolute bottom-4'>
      {lang.home.viewMore}
    </a>
  </main>
  <main
    class='w-full h-full shadow-[20px_20px_200px_129px_rgba(9,9,9,0.80)_inset]'
  >
    <Projects />
  </main>
</Layout>

<style>
  .typewriter {
    overflow: hidden;
    border-right: 0.15em solid #1e90ff;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation:
      typing 3.5s steps(40, end),
      blink-caret 0.75s step-end infinite;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #1e90ff;
    }
  }
</style>
